/* ScoreItem.css */

.score-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.score-item .username {
  flex: 1;
  text-align: left;
}

.score-item .score {
  text-align: right;
}
